// For responsive design
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// FONT
$body-font: "AvenirNextLTPro";

// ** COLORS **
// Primary text color
$BrainFlix-Black: #323232;
// Primary cta color & active form field outline color
$BrainFlix-Blue: #0095ff;
// Secondary text color & text label color
$Silver: #afafaf;
// Background color & CTA text color
$White: #ffffff;

// Video player components
$BrainFlix-DarkBlack: #000000;
// CTA hover state color
$BrainFlix-DarkBlue: #0065ad;
// Divider line & form field outline color
$Mercury: #e1e1e1;
// Form field background color
$Alabaster: #fafafa;
