@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.next-video {
  margin-bottom: 15px;
  padding: 0rem 12px;
  margin-top: 30px;
  @include tablet {
    margin-bottom: 50px;
    padding: 0 35px;
  }
  &__header {
    color: $Silver;
    margin-bottom: 10px;
    display: flex;
    font-size: 1rem;
    @include desktop {
      font-size: 1.25rem;
      margin-top: 30px;
    }
  }

  @include desktop {
    padding: 0 0 65px 25px;
    margin-bottom: 0;
    margin-top: 0;
    border-left: 2px solid $Mercury;
  }
}

.video-thumbnail {
  display: flex;
  padding: 6px 0;
  font-size: 1rem;
  cursor: pointer;

  &__img {
    width: 130px;
    height: 6rem;
    object-fit: cover;
    border-radius: 5px;
  }

  &__section {
    padding: 0.5rem 0;
    margin-left: 16px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    @include desktop {
      padding: 0;
      min-width: 10rem;
    }
  }

  &__title {
    width: 100%;
    font-weight: 700;
    margin: 0;
    font-size: 0.875rem;
    line-height: 16px;
    @include tablet {
      font-size: 1rem;
    }
    @include desktop {
      font-size: 0.875rem;
    }
  }

  &__author {
    margin: 0;
    font-size: 0.75rem;
    line-height: 16px;
    @include tablet {
      font-size: 0.875rem;
      line-height: 20px;
    }
  }
}
