@use "./styles/partials/mixins" as *;
@use "./styles/partials/globals" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;

.bottom-section {
  @include desktop {
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
}
