@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.video-details {
  padding: 20px 16px 0;
  @include tablet {
    padding: 20px 16px 0 16px;
  }
  &__header {
    display: flex;
    text-align: left;
  }
  &__info {
    border-bottom: 2px solid $Mercury;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  &__left-section {
    width: 45%;
    gap: 25px;
  }
  &__channel {
    margin-right: 15px;
    display: flex;
    padding-bottom: 15px;
    font-weight: 700;
  }
  &__right-section {
    @include tablet {
      flex-direction: row;
    }
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: $Silver;
    width: 50%;
  }
  &__likes-icon {
    margin-right: 12px;
  }
  &__views-icon {
    max-width: 25px;
    margin-right: 12px;
  }
  &__day {
    color: $Silver;
    display: flex;
  }
  &__views-section,
  &__likes-section {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    @include tablet {
      padding-bottom: 0;
      padding-right: 16px;
    }
  }

  &__comments {
    display: flex;
    font-weight: 700;
  }

  &__desc {
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 25px;
    @include tablet {
      padding-top: 15px;
      padding-bottom: 30px;
      line-height: 20px;
    }
  }
}
